nav {
  list-style-type: none;
  background-color: red;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 17px;
  text-align: center;
 
}

li:hover{
  background-color: brown;

  
}


a{
  text-decoration: none;
color: black;
}

li{
  display:inline;
  padding: 40px;
  
  
  
  
}
